<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naruto.mybatis.mapper.EmpDynamicSQLMapper">

    <!--   myBatis的一级缓存是针对于统一事务下的缓存，所以在mybatis中，一级缓存是针对于同一个SqlSession对象的
       事务结束后，一级缓存失效，会将数据清空，下次查询，就会重新查询，而不是从缓存中获取

       二级缓存开启后，缓存是放在一个map集合中，key是statementId，value是数据
       一级缓存的内容会放入一级缓存，当执行commit()方法时，一级缓存中的数据会提交到二级缓存中，当执行查询时，会从二级缓存中获取数据，
       当执行commit()方法时，会将一级缓存中的数据提交到数据库中，当执行查询时，会从数据库中获取数据，当执行commit()方法时，会将一级缓存中的数据提交到数据库中，
       当执行查询时，会从数据库中获取数据，以此类推，当执行commit()方法时，会将一级缓存中的数据提交到数据库中，当执行查询时，会从数据库中获取数据，以此类推

      mybatis开启二级缓存后，查询的数据会先从二级缓存中获取，若二级缓存中没有，会查数据库中的数据，结束后，会把数据放入二级缓存中

      二级缓存是将数据以数列化的方式存入缓存中的，所以相应的对象要实现【Serializable】接口
       -->
    <!--    <cache/>  开启二级缓存-->

    <!--
        sql：抽取可复用的sql片段
        include：引用sql片段，refid属性：sql片段的id
    -->

    <!--    抽取可复用的sql片段-->
    <sql id="column_names">
        id,emp_name empName,age,emp_salary empSalary
    </sql>

    <!--    <select id="getEmpByNameAndSalary" resultType="com.naruto.mybatis.model.pojo.Emp">-->
    <!--        select *-->
    <!--        from t_emp-->
    <!--        where-->
    <!--        <if test="name != null">-->
    <!--            emp_name = #{name}-->
    <!--        </if>-->
    <!--        <if test="salary != null">-->
    <!--            and emp_salary = #{salary}-->
    <!--        </if>-->
    <!--    </select>-->

    <!--    第一种动态方式 , 两者null，会全部查询出来 -->
    <!--    <select id="getEmpByNameAndSalary" resultType="com.naruto.mybatis.model.pojo.Emp">-->
    <!--        select *-->
    <!--        from t_emp-->
    <!--        where 1 = 1-->
    <!--        <if test="name != null">-->
    <!--            and emp_name = #{name}-->
    <!--        </if>-->
    <!--        <if test="salary != null">-->
    <!--            and emp_salary = #{salary}-->
    <!--        </if>-->
    <!--    </select>-->

    <!--    第二种方式 使用<where>标签-->
    <select id="getEmpByNameAndSalary" resultType="com.naruto.mybatis.model.pojo.Emp">
        select
        <include refid="column_names"></include>
        from t_emp
        <where>
            <if test="name != null">
                and emp_name = #{name}
            </if>
            <if test="salary != null">
                and emp_salary = #{salary}
            </if>
        </where>
    </select>


    <!--    <set>标签 -->
    <!--    <update id="updateEmp">-->
    <!--        update t_emp-->
    <!--        <set>-->
    <!--            <if test="empName != null">-->
    <!--                emp_name =#{empName},-->
    <!--            </if>-->
    <!--            <if test="empSalary != null">-->
    <!--                emp_salary=#{empSalary},-->
    <!--            </if>-->
    <!--            <if test="age != null">-->
    <!--                age=#{age}-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        where id = #{id}-->
    <!--    </update>-->


    <!--
         prefix: 前缀; 如何标签体中有东西，就给它们拼一个前缀
         prefixOverrides: 前缀覆盖；标签体中最终生成的字符串，如果以指定前缀开始，就覆盖成空串
         suffix: 后缀
         suffixOverrides: 后缀覆盖
    -->
    <select id="getEmpByNameAndSalaryAndAge" resultType="com.naruto.mybatis.model.pojo.Emp">
        select *
        from t_emp
        <trim prefix="where" prefixOverrides="and|or">
            <if test="name != null">
                emp_name = #{name}
            </if>
            <if test="salary != null">
                and emp_salary = #{salary}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </trim>
    </select>
    <select id="getEmpByNameAndSalaryWhen" resultType="com.naruto.mybatis.model.pojo.Emp">
        select *
        from t_emp
        <where>
            <choose>
                <when test="name != null">
                    emp_name= #{name}
                </when>
                <when test="salary > 3000">
                    emp_salary = #{salary}
                </when>
                <otherwise>
                    id = 1
                </otherwise>
            </choose>
        </where>
    </select>

    <!--  for(Integer id :ids)

        foreach: 遍历List,Set,Map,数组
        collection：指定要遍历的集合名
        item：将当前遍历出的元素赋值给指定的变量
        separator：指定在每次遍历时，元素之间拼接的分隔符
        open：遍历开始前缀； 不开始遍历就不会有这个
        close：遍历结束后缀
-->
    <select id="getEmpByIds" resultType="com.naruto.mybatis.model.pojo.Emp">
        select * from t_emp
        <if test="empIds != null">
            <where>
                <foreach collection="empIds" item="id" open="id in (" close=")" separator=",">
                    #{id}
                </foreach>
            </where>
        </if>
    </select>

    <insert id="addEmps">
        insert into t_emp(emp_name, age, emp_salary)
        values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.empName}, #{emp.age}, #{emp.empSalary})
        </foreach>
    </insert>


    <update id="updateEmp">
        update t_emp
        <trim prefix="set" suffixOverrides=",">
            <if test="empName != null">
                emp_name =#{empName},
            </if>
            <if test="empSalary != null">
                emp_salary=#{empSalary},
            </if>
            <if test="age != null">
                age=#{age}
            </if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateEmps">
        <foreach collection="emps" item="emp" separator=";">
            update t_emp
            <set>
                <if test="emp.age !=null">
                    age = #{emp.age},
                </if>
                <if test="emp.empName !=null">
                    emp_name = #{emp.empName},
                </if>
                <if test="emp.empSalary !=null">
                    emp_salary = #{emp.empSalary}
                </if>
            </set>
            <where>
                id = #{emp.id}
            </where>
        </foreach>
    </update>

</mapper>